<% RetroItem::CATEGORIES.each do |category| %>
    <% form_tag('/items/merge') do %>
        <div><span style="font-size:medium;"><%= category %></span> <%= submit_tag :merge%></div>
        <table>
          <% @items.each do |item| %>
              <% next unless item.category.downcase == category.to_s %>
              <tr>
                <td><%= check_box_tag 'merge_ids[]', item.id %></td>
                <td><a href="<%= edit_item_url(item.id)%>"><%= item.content %></a></td>
                <td><%= item.tag_list %></td>
              </tr>
          <% end %>
        </table>
    <% end %>
<% end %>