<% form_for @item, :url => create_item_url do |f| %>
<div class="new_content">
    <div>
      <%= f.label :content, "Content" %>
      <%= f.text_area :content, :style=> "width:600;height:150"%>
    </div>
    <br/>
    <div>
      <%= f.label :category, "Category" %>
      <%= f.select(:category, RetroItem::CATEGORIES) %>
    </div>
    <div>
      <%= f.label :count, "Vote/Count" %>
      <%= f.text_field :count%>
    </div>
    <div>
      <%= f.label :tag_list, "Tag List" %>
      <%= f.text_field :tag_list %>
    </div>
    <div>
	    <%= f.submit "Save" %>
    </div>
</div>
<% end %>
<div class="available_tags">
  <h2>Available Tags</h2>
  <% @available_tags.each do |tag| %>
    <div><%= check_box_tag tag, tag, false, :class => 'tags' %> <%= tag%></div>
  <% end %>
</div>

<script type="text/javascript">
  (function($){
      $('.tags').bind('click', function(e) {
          var current_tags = $('#retro_item_tag_list').val(),
                  selected_tag = $(this).val(),
                  new_tags;
          if ($(this).is(':checked')) {
              new_tags = current_tags.length ? current_tags + ',' + selected_tag : selected_tag ;
          } else {
              regex = new RegExp(selected_tag+'(,)?', 'i');
              new_tags = current_tags.replace(regex,'');
          }
          $('#retro_item_tag_list').val(new_tags);
      });
  })(jQuery);
</script>

