<div align="center" style="font-size:large; font-weight:bold;"> Chennai Office Retro - 2010</div>
<div class="column-left">
  <div class="positives listing">
    <div align="center" style="font-size:large; font-weight:bold; margin:5px;">We are happy about...</div>
    <div class="tag_cloud">
      <% tag_cloud(@positives_tags, %w(             css1 css2 css3 css4 css5 css6            )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :positives), :class => css_class %>
      <% end %>
    </div>
  </div>

  <div class="concerns listing">
    <div align="center" style="font-size:large; font-weight:bold; margin:5px;">We are worried about...</div>
    <div class="tag_cloud">
      <% tag_cloud(@concerns_tags, %w(             css1 css2 css3 css4 css5 css6            )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :concerns), :class => css_class %>
      <% end %>
    </div>
  </div>

</div>

<div class="column-middle">
  <div align="left" style="font-size:large; font-weight:bold; margin:5px;">Most common</div>
  <div id="accordion">
    <% RetroItem::CATEGORIES.each do |category|
        items = instance_variable_get("@top_#{category}")
    %>
        <h3><a href="#" class="<%= category %>"><%= category.to_s.humanize %></a></h3>

        <div>
          <ol>
            <% items.each do |item| %>
                <li><%= item.content.humanize %></li>
            <% end %>
          </ol>
        </div>
    <% end %>
  </div>
</div>

<div class="column-right">
  <div class="wishes listing">
    <div align="center" style="font-size:large; font-weight:bold; margin:5px;">Our Wishes</div>
    <div class="tag_cloud">
      <% tag_cloud(@wishes_tags, %w(             css1 css2 css3 css4 css5 css6            )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :wishes), :class => css_class %>
      <% end %>
    </div>
  </div>
  <div class="risks listing">
    <div align="center" style="font-size:large; font-weight:bold; margin:5px;">Risks</div>
    <div class="tag_cloud">
      <% tag_cloud(@risks_tags, %w(             css1 css2 css3 css4 css5 css6            )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :risks), :class => css_class %>
      <% end %>
    </div>
  </div>
</div>

<div style="width:50%; float:left; margin-left:40%; font-size:large; font-weight:bold; margin-top:30px;"> Action Items / Suggestions </div>
<div style="width:80%; float:left; margin-left:45%; position:relative; left:-500">
  <div class="controls">
    <div class="prev">prev</div>
  </div>

  <div id="myScroll">

    <div class="scrollEl">
      <div class="action-heading">Wastage of resources(food, paper)</div>
      <ul>
        <li>Inform admin on team outings & optional holidays</li>
        <li>Food reminders/wastage meter</li>
        <li>Bin for half used papers - Reuse printouts</li>
        <li>Opt for rewritable material</li>
        <li>Electrostatic printers</li>
        <li>Reminders on door for light</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Better Road</div>
      <ul>
        <li>Shuttle Service</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Phone quality - poor</div>
      <ul>
        <li>Audio Conferencing - Thiyagu/SK</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Hardware Facilities</div>
      <ul>
        <li>CI hardware - Thanga/SK</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Branding</div>
      <ul>
        <li>Make our presence felt in external conferences</li>
        <li>Having dedicated local marketing person</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Trust/Open Feedback</div>
      <ul>
        <li>Encourage feedback/Create immediate feedback environment</li>
        <li>Create opportunities for feedback exchange</li>
        <li>Identify root cause for reluctance in sharing feedback</li>
        <li>Self-openness to be exhibited</li>
        <li>Point out snubbing & make aware not to beat back</li>
        <li>Having how to feedback sessions</li>
        <li>Time to think/practice the art of giving/receiving feedback</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Practices & Enablement</div>
      <ul>
        <li>How to find what is broken? - Aravind, Sai, Balaiji Damodaran</li>
        <li>Team composition - identify guides/coaches for each team on a per functional part</li>
        <li>Challenge practices - to identify passion - session to debate</li>
        <li>Trigger focussed discussions on best practices</li>
        <li>To fix Gap b/w theortical understanding & practices (day-to-day)</li>
        <li>Practice team-wise - Realization, Shuffle ppl across projects to enhance colloboration with coaches/senior
          ppl - to understand when what practice is valid/can be diluted
        </li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Accountability</div>
      <ul>
        <li>Lack of inspiration - to be fixed by providing help & support by seniors</li>
        <li>Volunteering</li>
        <li>Every group(Android, etc) having a mix of ppl</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Participation in events:</div>
      <ul>
        <li>Communicate the values/usefulness of the events, create awareness</li>
        <li>Outline goals, objectives of the event</li>
        <li>Encourage informal format - Digitize content as video, so that anyone anytime can comment, discuss, learn
          from it.
        </li>
        <li>Setting targets & making it visible</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Common Office Goals/ Setting direction for chennai office
      </div>
      <ul>
        <li>Brain storming session</li>
        <li>Creating opportunity for interacting with GMT</li>
        <li>More often communication from all teams, esp management</li>
        <li>Weekly office standups</li>
        <li>Weekly office update</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Taking ownership of IS accessories</div>
      <ul>
        <li>Awareness</li>
        <li>Individual responsibility</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Small conference rooms are insufficient</div>
      <ul>
        <li>Need bigger meeting rooms</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">New Office Location</div>
      <ul>
        <li>Traffic</li>
        <li>Closer to Guindy</li>
        <li>Timeline -- Tentative</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Should stop doing things to please others/ No hero worship</div>
      <ul>
        <li>Need a dedicated facilitator</li>
        <li>Peer encouragement to voice out individual views/participate</li>
        <li>Creating specific group with volunteers identified to keep the pace/momentum</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">More Usage of English</div>
      <ul>
        <li>Conscious at project environment</li>
        <li>Awareness to make new people comfortable</li>
        <li>Cartoons</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">More cleanliness & Responsibility for common property</div>
      <ul>
        <li>Event to identify cleanest table every week/month or so</li>
      </ul>
    </div>
    <div class="scrollEl">
      <div class="action-heading">Project Pipeline Visibility</div>
      <ul>
        <li>Updating pulse</li>
        <li>Share / Publish pulse url to all</li>
      </ul>
    </div>
  </div>

  <div class="controls">
    <div class="next">next</div>
  </div>
</div>
<script>
    $(document).ready(function() {
        $("#accordion").accordion({
            collapsible: true
        });
    });
</script>

<script type="text/javascript">

    $(".tag_cloud a").fancybox({
        'transitionIn'    :    'elastic',
        'transitionOut'    :    'elastic',
        'speedIn'        :    600,
        'speedOut'        :    200,
        'overlayShow'    :    true
    });
</script>
<script type="text/javascript">
    $(function() {
        $("#myScroll").mbScrollable({
            width:900,
            elementsInPage:3,
            elementMargin:4,
            shadow:"#999 2px 2px 2px",
            height:"auto",
            controls:".controls",
            slideTimer:1000,
            autoscroll:false,
            scrollTimer:2000
        });
    });
</script>
